export interface {{pascalCase name}}Props {
children: React.ReactNode;
}

export const {{pascalCase name}} = ({ children }: {{pascalCase name}}Props) => {
return (
    <main>{children}</main>) // if you need another tag, change here
};
