import { useEffect } from 'react';

export const {{pascalCase name}} = () => {
useEffect(() => {
// Fetch data or set up logic
}, []); // you can delete this if you don't need

return (
<div>{{pascalCase name}} Page</div>) // if you need another tag, change here
};
